@import "../../styles/variables.scss";
@import "../../styles//mixins.scss";

.dish {
  @include flexbox(flex, column, flex-start, center);
  height: auto;
  min-height: 20vh;
  width: 100%;
  margin: 3vh 0%;
  &__image-wrapper {
    height: 50vh;
    width: 80%;
    @include flexbox(flex, row, center, center);
  }
  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    @include flexbox(flex, row, center, center);
  }
  &__title {
    width: 80%;
    @include flexbox(flex, row, center, center);
    text-align: center;
    border-bottom: 3px solid $mainColor;
    padding: 1vh 0px;
  }
  &__description {
    max-width: 80%;
    @include flexbox(flex, row, center, center);
    text-align: center;
  }
  &__price {
    margin-top: 2vh;
    width: 80%;
    @include flexbox(flex, row, center, center);
    span {
      margin-left: 1vw;
      color: $mainColor;
    }
  }
  &__form {
    @include flexbox(flex, column, flex-start, center);
    width: 100%;
    height: auto;
  }
  &__image-selector {
    height: auto;
    min-width: 3vh;
    align-self: center;
    margin: 1vh 0px;
    width: 80%;
    border-radius: 5px;
  }
  &__input {
    height: auto;
    min-height: 3vh;
    width: 80%;
    padding-left: 1vh;
    margin: 1vh 0px;
    border: none;
    border-radius: 5px;
  }
  &__input-hidden {
    height: 0vh;
    visibility: hidden;
  }
  &__label {
    height: auto;
    margin: 0.5vh 0px;
    align-self: center;
  }
  &__selector {
    border: none;
    border-radius: 5px;
  }
  &__button {
    height: 20%;
    width: 80%;
    background-color: transparent;
    color: $secondColor;
    border: 2px solid $secondColor;
    border-radius: 5px;
    max-height: 5vh;
    max-width: 30vw;
    min-height: 4vh;
    @include flexbox(flex, row, center, center);
    &:active {
      background-color: $mainColor;
      color: $backgroundColor;
    }
  }
}
