@import "../../styles/variables.scss";
@import "../../styles//mixins.scss";

.event-wrapper {
  @include flexbox(flex, column, flex-start, center);
  padding: 2vh 0px 5vh 0px;
  height: auto;
  width: 100%;
  background-color: $backgroundColor;
  &__title {
    width: 90%;
    height: auto;
    text-align: center;
    margin-bottom: 2vh;
    font-size: 20px;
  }
  &__text {
    width: 90%;
    height: auto;
    text-align: center;
    margin-bottom: 2vh;
  }
}
