/* $mainColor: #ff6600;
$secondColor: #66c2ff;
$thirdColor: #9de236;
$fourthColor: #7ba838;
$textColor: #2b331f;
$textColor2: #ffffff;
$backgroundColor: whiteSmoke; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap");
$general-font: "Open Sans", sans-serif;
$cursive-font: "Lobster", sans-serif;

$mainColor: #ff8000;
$secondColor: #006633;
$thirdColor: #ffd700;
$fourthColor: #663300;
$textColor: #333333;
$textColor2: #ffffff;
$backgroundColor: #f5f5dc;
$backgroundColorTransparent: rgba(245, 245, 220, 0.3);
