@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap");
$general-font: "Open Sans", sans-serif;
$cursive-font: "Lobster", sans-serif;

/* $mainColor: #ff8000;
$secondColor: #008000;
$thirdColor: #9acd32;
$fourthColor: #ffb6c1;
$textColor: #333333;
$textColor2: #ffffff;
$backgroundColor: #f5f5dc;
$backgroundColorTransparent: rgba(245, 245, 220, 0.5); */

$mainColor: #bc6b4c;
$secondColor: #5a2814;
$thirdColor: #bc6b4c;
$fourthColor: #6b605a;
$textColor: rgba(48, 39, 35, 1);
$textColor2: #e0dad5;
$backgroundColor: #e0dad5;
$backgroundColorTransparent: rgba(224, 218, 213, 0.3);
