@import "../../styles/variables.scss";
@import "../../styles//mixins.scss";

.admin {
  @include flexbox(flex, column, flex-start, center);
  height: auto;
  width: 100%;
  background-color: $backgroundColor;
  color: $textColor;
}
