@import "../../styles/variables.scss";
@import "../../styles//mixins.scss";
.home {
  @include flexbox(flex, column, flex-start, center);
  background-color: $backgroundColor;
  height: 100%;
  width: 100%;
}
