@import "../../styles/variables.scss";
@import "../../styles//mixins.scss";
.reservation {
  @include flexbox(flex, column, flex-start, center);
  min-width: 100vw;
  height: auto;
  background-color: $backgroundColor;
  color: $textColor;
  &__announce {
    padding: 0px 5% 5% 5%;
    @include flexbox(flex, row, center, center);
    text-align: center;
  }
  &__calendar {
    @include flexbox(flex, column, flex-start, center);
  }
  &__wrapper {
    width: 100%;
    margin: 3vh 0px;
    @include flexbox(flex, row, space-evenly, center);
  }
  &__state-selector {
    border: none;
    border-radius: 5px;
    background-color: $backgroundColor;
    margin: 0px 5vw 0px 1vw;
    color: $textColor;
  }
  &__button {
    height: 4vh;
    min-width: 100px;
    background-color: $thirdColor;
    border: 3px solid $thirdColor;
    /* border-radius: 2vh; */
    margin-bottom: 3vh;
    color: $textColor;
  }
}
